:root{
    --search-color:rgb(70, 68, 68);
    background-color: whitesmoke;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    /* this creates gap on two ends along the nav bar but we want the gap along the entire length of website. */
    background-color: white;
    padding:10px 0;
}
#navbar{
    border-bottom: 0.5px solid black;       
}
#title{
    display: flex;
    align-items: center;
     font-family: 'Dancing Script', cursive;
}
#title-container{
    margin-right:7px;
}
#Instagram{
    font-size: 30px ;
    font-weight: bold;
}
input::placeholder{
    font-size:17px;
    /* color:rgb(70, 68, 68); */
    color:var(--search-color);
    text-transform: capitalize;
    
}
#search-bar{
    display: flex;
    background-color:lightgrey;
    padding:7px 14px;
    border-radius: 7px;
    width:18rem;
}
#magnifying-glass{
    padding-right:10px;
    color:var(--search-color);
}
/* #search-box-edit{
    margin:4px;
} */
#navigation-route{
    display: flex;
    width:250px;
    justify-content: space-between;
    font-size:30px;/**/
}
#navigation-route>div>i{
    font-size:25px;
    /* margin:4px; */
}
input{
    background-color: transparent;
    border:none;
}
input:focus{
    outline: none;
    /* border:none; */
}
i:hover{
    color:red;
}
#profile-photo{
    width:150px;
    height:150px;
    border-radius: 50%;
    background: url(./additional-files/images/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-left: 125px; */
}
#gradientbackground{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(199,249,28,0.9612044646960347) 50%, rgba(252,176,69,1) 100%); 
} 
.profile-icons-img{
    width:17px;
    height:16px;
}
#message-btn{
    /* width:70px; */
    padding:2px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight :600;
}
#followed-btn{
    padding:2px 5px;
}
#arrowDown-btn{
    padding:2px 5px;
    padding-bottom: 1px;
}
#num-of-posts{
    font-weight: bold;
}
#num-of-followers{
    font-weight: bold;
}
#num-of-following{
    font-weight: bold;
}
#followed-btn{
    /* width: 30px;
    height: 40px; */
    width:62px;
}
#blue-tick{
    width:14px;
    margin-top:6px;
    margin-right: 15px;
}
.icons-on-nav{
width: 20px;
}
#user-profile-icon{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background:url(./additional-files/images/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#three-dots{
    width:25px;
}
#main-container /**/
{
    background-color: whitesmoke;
    display: flex;
    gap:180px;
    padding-top: 45px;    
}
#div1-inside-description-container{
    display: flex;
    gap:5px;
    align-items: center;
    margin-bottom: 30px;
}
#buttons-in-div1{
    display: flex;
    gap:10px;
}
#description-container{
    flex-wrap: wrap;
}
#username-container{
font-size: 30px;
font-weight:100;
font-family: 'Roboto', sans-serif;
}
#div2-inside-description-container{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
#div3-inside-description-container{
    display: flex;
    flex-direction: column;
    gap:5px;
}
#i-promise-css{
   font-weight:300;
}
#website-fontStyle{
    font-weight: bold;
}