:root{
    --search-color:rgb(70, 68, 68);
    background-color: whitesmoke;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
}
nav{
    display: flex;
    justify-content: space-between;
    /* this creates gap on two ends along the nav bar but we want the gap along the entire length of website. */
    background-color: white;
    padding:10px 0;
}
/* #navbar{
    border-bottom: 0.5px solid black;       
} */
#title{
    display: flex;
    align-items: center;
     font-family: 'Dancing Script', cursive;
}
#title-container{
    margin-right:7px;
}
#Instagram{
    font-size: 30px ;
    font-weight: bold;
}
input::placeholder{
    font-size:17px;
    /* color:rgb(70, 68, 68); */
    color:var(--search-color);
    text-transform: capitalize;
    
}
#search-bar{
    display: flex;
    background-color:lightgrey;
    padding:7px 14px;
    border-radius: 7px;
    width:18rem;
}
#magnifying-glass{
    padding-right:10px;
    color:var(--search-color);
}
/* #search-box-edit{
    margin:4px;
} */
#navigation-route{
    display: flex;
    width:250px;
    justify-content: space-between;
    font-size:30px;/**/
}
#navigation-route>div>i{
    font-size:25px;
    /* margin:4px; */
}
input{
    background-color: transparent;
    border:none;
}
input:focus{
    outline: none;
    /* border:none; */
}
i:hover{
    color:red;
}
#navbar-arrow-down{
    width:15px;
    height:26px;
    padding-top:12px;
    /* font-weight: 900; */
}
#profile-photo{
    width:150px;
    height:150px;
    border-radius: 50%;
    background: url(./additional-files/images/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:3px;
    left:3px;
    border:5px solid white;
}
#gradient-background{
    height:156px;
    width:156px;
    background: rgb(212,219,27);
    background: linear-gradient(52deg, rgba(212,219,27,1) 0%, rgba(249,28,73,0.9612044646960347) 50%, rgba(232,69,252,1) 100%); 
    border-radius: 50%;
    position: absolute;
} 
#left-div{
    position:relative;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.profile-icons-img{
    width:17px;
    height:16px;
}
#message-btn{
    /* width:70px; */
    padding:6px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight :600;
    font-size:15px;
}
#followed-btn{
    padding:2px 5px;
}
#arrowDown-btn{
    padding:2px 5px;
    padding-bottom: 1px;
}
#num-of-posts{
    font-weight: bold;
}
#num-of-followers{
    font-weight: bold;
}
#num-of-following{
    font-weight: bold;
}
#followed-btn{
    /* width: 30px;
    height: 40px; */
    width:62px;
}
#blue-tick{
    width:20px;
    margin-top:6px;
    margin-right: 15px;
}
.icons-on-nav{
width: 20px;
}
#user-profile-icon{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background:url(./additional-files/images/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#three-dots{
    width:25px;
}
#main-container /**/
{
    background-color: whitesmoke;
    display: flex;
    gap:280px;
    padding-top: 45px;
    /* justify-content: space-between;     */
}
#div1-inside-description-container{
    display: flex;
    gap:5px;
    align-items: center;
    margin-bottom: 30px;
}
#buttons-in-div1{
    background-color:rgb(250, 250, 250);
    display: flex;
    gap:10px;
}
#description-container{
    flex-wrap: wrap;
}
#username-container{
font-size: 30px;
font-weight:100;
font-family: 'Roboto', sans-serif;
}
#div2-inside-description-container{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
#div3-inside-description-container{
    display: flex;
    flex-direction: column;
    gap:5px;
}
#i-promise-css{
   font-weight:300;
}
#website-fontStyle{
    font-weight: bold;
    color:rgb(0, 55, 107);
    text-decoration: none;
}
#story-container{
    margin-top:60px;
    display:flex;
    gap:50px;
}
.story-imgs{
    width:85px;
    height:85px;
    border-radius:50%;
    /* width:150px;
    height:150px;
    border-radius: 50%;
    background: url(./additional-files/images/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:3px;
    left:3px;
    border:5px solid white; */
    /* border:5px solid white; */
    padding:2px;
    border:1.5px solid rgb(199, 198, 198);
}
.story-titles{
    margin-top:10px;
    font-weight:500;
}
.story-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}